* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*header*/
.navigation {
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-2 li a {
    margin: 0 20px;
    font-family: inter;
    color: rgba(55, 57, 63, 1);
    font-weight: 90;
    font-size: 18px;
}

.nav-2 ul {
    display: flex;
    align-items: center;
}

.click {
    background-color: rgba(107, 119, 229, 1);
    font-size: 18px;
    text-align: center;
    Padding: 21px 35px 22px 35px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

/*main*/
.titles {
    margin-top: 136px;
    text-align: center;
}

.titles .part-1 {
    font-family: inter;
    font-size: 18px;
    font-weight: 600;
    color: rgba(55, 57, 63, 1);
}

.titles .part-2 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(55, 57, 63, 1);
}

/*section*/
.parent {
    margin-top: 41px;
    display: flex;
    justify-content: space-around;
}

.parent .child {
    width: 386px;
    height: 383px;
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: rgba(55, 57, 63, 1);
    margin-top: 58px;

}

.parag {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    align-items: center;
}

.parag .info {
    font-size: 18px;
    font-weight: 400;
    color: rgba(125, 125, 125, 1);
}

.link {
    font-size: 18px;
    font-weight: 600;
    color: rgba(107, 119, 229, 1);
    margin-top: 37px;

}

.child-1 {
    margin-left: 55px;
}

.child-2 {
    margin-right: 55px;
}

.position {
    background-color: blue;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 41px;
}

.shortvid {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.short {
    font-size: 18px;
    color: rgba(55, 57, 63, 1);
}

.present {
    font-size: 40px;
    color: rgba(55, 57, 63, 1);
    font-weight: 700px;
}

.par {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.starter {
    margin-top: 47px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-around;
}

.profiles {
    position: relative;
}

.sv {
    width: 341px;
    height: 114px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 396px;
    left: 22px;
    text-align: center;
    justify-content: center;
}

.name {
    color: rgba(55, 57, 63, 1);
    font-size: 25px;
    font-weight: 600;
}

.work {
    font-size: 18px;
    color: rgba(125, 125, 125, 1);
}

.profiles-1 {
    margin-left: 20px;
}

.profiles-2 {
    margin-right: 20px;
}